# ========== PYTHON ==========
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.tmp
*.swp

# Arquivos de cache de notebooks
.ipynb_checkpoints/

# ========== VSCode / macOS ==========
.vscode/
.DS_Store

# ========== ENV / VENV / DEPENDÊNCIAS ==========
venv/
.venv/
.env/

# ========== OUTROS ==========
*.bak
*.old
